main {
  text-align: center;
  padding: 0.25rem 0.75rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  padding-left: 1rem;
}

h2 {
  font-weight: 300;
}

svg {
  fill: white;
  width: 16px;
}

a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: #4393f8;
}

input {
  padding: 4px 8px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
  background-color: #0d1116;
  border: 1px solid #30363d;
  border-radius: 6px;
  outline: none;
}

input:focus {
  border-color: #4393f8;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

button {
  margin-left: 0.5rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-color: #0d1116;
  border: 1px solid #30363d;
  border-radius: 6px;
  outline: none;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

button:hover {
  background-color: #4393f8;
  border-color: #4393f8;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.noHover {
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  a:visited {
    color: black;
  }

  input {
    color: black;
    background-color: white;
    border-color: #d0d7de;
  }

  button {
    background-color: white;
    border-color: #d0d7de;
  }
}
